doctype html
html
  head
    meta(charset="utf-8")
    
    block title
    
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="keywords", content="URLSAVER DESCRIPTION WILL BE HERE")
    link(rel="shortcut icon", href=url_for("static", filename="/img/favicon.png"))

    script(typetype="application/x-javascript") addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }

    //- General styles and scripts
    link(href=url_for("static", filename="css/bootstrap.min.css"), rel="stylesheet", type="text/css")
    link(href=url_for("static", filename="css/style.css"), rel="stylesheet", type="text/css")
    link(href=url_for("static", filename="css/font-awesome.css"), rel="stylesheet")
    script(src=url_for("static", filename="js/jquery.min.js"))
    script(src=url_for("static", filename="js/bootstrap.min.js"))

    //- Additional styles and scripts for each page
    block scripts
    
  body
    #wrapper
      nav.navbar-default.navbar-static-top(role="navigation")
        .navbar-header
          button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          h1
            a.navbar-brand(href=url_for("main")) urlsaver
        .border-bottom
          .full-left
            form.navbar-left-right
              input(type="text", value="Search...", onfocus="this.value = '';", onblur="if (this.value == '') {this.value = 'Search...';}")
              input.fa.fa-search(type="submit", value="")
            .clearfix
        .drop-men
          ul.nav_1

        .clearfix

      #page-wrapper.gray-bg.dashboard-1
        .content-main
          .banner
            h2
              a(href="index.html") Home
              i.fa.fa-angle-right
              span home page
          .blank
            .blank-page
              p.
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
          .copy
            p &copy; 2016 URLsaver.ua. All Rights Reserved | Used template designed by
              a(href="http://w3layouts.com/", target="_blank") W3layouts

      .clearfix

    //- scrolling js
    script(src=url_for("static", filename="js/jquery.nicescroll.js"))
    script(src=url_for("static", filename="js/scripts.js"))