extends ./base.jade

block title
  title Home page

block scripts
  script(src=url_for("static", filename="js/jquery.metisMenu.js"))
  script(src=url_for("static", filename="js/jquery.slimscroll.min.js"))

  link(href=url_for("static", filename="css/custom.css"), rel="stylesheet")
  script(src=url_for("static", filename="js/custom.js"))

block buttons
  .my-button-right
    a(href=url_for('login'))
      button(type="button") Login
    a(href=url_for('register'))
      button(type="button") Register

block currentpage
  span home page

block content
  .blank
    .blank-page
      p.
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 