doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="author", content="Dashboard")
    meta(name="keyword", content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina")

    block title
      title !

    //- Bootstrap core CSS
    link(href=url_for('static', filename="css/bootstrap.css"), rel="stylesheet")
    //- external css
    link(href=url_for('static', filename="css/font-awesom.css"), rel="stylesheet")
    //- Custom styles for this template
    link(href=url_for('static', filename="css/style.css"), rel="stylesheet")
    link(href=url_for('static', filename="css/style-responsive.css"), rel="stylesheet")

  body
    section#container
      //- TOP BAR
      header.header.black-bg
        .sidebar-toggle-box
          .fa.fa-bars.tooltips(data-placement="right", data-original-title="Toggle Navigation")
        //- LOGO
        a.logo(href=url_for("main"))
          b URLSAVER
        block topmenu

    div()
      if current_user.is_authenticated
        h3 Home page / #{current_user.username}
      else
        h3 Home page

    div()
      | Home page ! ! !
      hr
      hr
      if arg
        | arg
