extends ./base.jade

{% from "_formhelpers.jade" import render_field %}

block title
  title Login &#124; urlsaver.ua

block main
  .width-50
    form(method="post", action=url_for("login"))
      | #{form.csrf_token}
      | !{render_field(form.email, placeholder="Email")}
      | !{render_field(form.password, placeholder="Password")}
      input(type="submit", value="Login")
    br
    br
    | Don't have an account? &#124; 
    a(href=url_for("register")) Register 
    | &#124;
