extends ./base.jade

{% from "_formhelpers.jade" import render_field %}

block title
  title Login &#124; urlsaver.ua


block groups
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    .messages
      {% for message in messages %}
      p {{ message }}
      {% endfor %}
    {% endif %}
    {% endwith %}

block main
  .width-50
    form(method="post", action=url_for("login"))
      | #{form.csrf_token}
      | !{render_field(form.email, placeholder="Email")}
      | !{render_field(form.password, placeholder="Password")}
      input(type="submit", value="Login")
    br
    br
    | Don't have an account? &#124; 
    a(href=url_for("register")) Register 
    | &#124;
    br
    br
    a(href=url_for("restore_password")) Forgot your password?
