extends ./base.jade

{% from "_formhelpers.jade" import render_field %}

block title
  title Register &#124; urlsaver.ua

block main
  .width-50
    form(method="post", action=url_for("register"))
      | #{form.csrf_token}
      | !{render_field(form.email, placeholder="Email")}
      | !{render_field(form.password, placeholder="Password")}
      | !{render_field(form.confirm, placeholder="Repeat Password")}
      input(type="submit", value="Register")
    br
    br
    | Already have an account? &#124; 
    a(href=url_for("login")) Login 
    | &#124;
