extends ./base.jade

{% from "_formhelpers.jade" import render_field %}

block title
  title Restore Password &#124; urlsaver.ua

block main
  .width-50
    form(method="post", action=url_for("restore_password"))
      | #{form.csrf_token}
      | !{render_field(form.email, placeholder="Email")}
      input(type="submit", value="Restore Password")
      
block nav
  a(href=url_for("login")) Login
  a(href=url_for("register")) Register
