doctype html
html(lang="en")
  
  head
    meta(charset="utf-8")
    title URLS
    meta(name="description", content="")
    meta(name="author", content="")
    link(rel="shortcut icon", href=url_for('static', filename='img/favicon.png'))

  body
    div()
      h3 List of saved URLs for #{current_user.username}
      hr

    div()
      if urls
        for locator in urls
          ul
            li 
              a(href=locator.url) #{locator.title}
            li #{locator.groupname}
            li #{locator.date}
          hr